name: Velero Plugin For vSphere CICD Pipeline
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'
jobs:
  cicd:
    name: Run CICD Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code of velero-plugin-for-vsphere
        uses: actions/checkout@v2
        with:
          path: src/github.com/vmware-tanzu/velero-plugin-for-vsphere
      - name: Check out the code of astrolabe
        uses: actions/checkout@v2
        with:
          repository: vmware-tanzu/astrolabe
          path: src/github.com/vmware-tanzu/astrolabe
      - name: Download essential GVDDK libraries
        run: |
          cd src/github.com/vmware-tanzu/astrolabe/vendor/github.com/vmware/gvddk
          wget --quiet https://gvddk-libs.s3-us-west-1.amazonaws.com/VMware-vix-disklib-6.7.3-14389676.x86_64.tar.gz
          tar xzf VMware-vix-disklib-6.7.3-14389676.x86_64.tar.gz
      - name: Set env
        run: echo "::set-env name=GOPATH::$GITHUB_WORKSPACE"
      - name: Make CI
        if: github.event_name == 'pull_request'
        run: |
          cd src/github.com/vmware-tanzu/velero-plugin-for-vsphere
          make ci
      - name: Build the plugin and push images to docker hub
        if: github.event_name != 'pull_request'
        run: |
          echo ${{ github.repository }}
          cd src/github.com/vmware-tanzu/velero-plugin-for-vsphere
          docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_PASSWORD }}
          BRANCH=${GITHUB_REF##*/}
          chmod +x ./scripts/push-image.sh
          ./scripts/push-image.sh $BRANCH
